<div class="d-flex flex-column align-items-center">
  <!-- drop down menu -->
  <div class=" dropdown ml-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">類別</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each categories}}
      <a class="dropdown-item" href="/?filter={{this._id}}">{{this.category}}</a>
      {{/each}}
    </div>
  </div>
  <!-- total amount -->
  <div class="d-flex">
    <h3>總金額:</h3>
    <div>{{totalAmount}}</div>
  </div>
  <!-- index of record -->
  <div class="col-md-6 mb-4">
    <ul class="list-group d-lg-flex">
      {{#each records}}
      <li class="list-group-item active d-flex justify-content-between">
        <div class="d-flex">
          <i class="{{this.category.icon}}"></i>
          <div>
            <div>{{this.name}}</div>
            <div>{{this.date}}</div>
          </div>
        </div>
        <div>{{this.amount}}</div>
        <div>
          <a class="btn btn-warning" href="/expenseTrackers/{{ this._id }}/edit">修改</a>
          <form action="./expenseTrackers/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- add new record -->
  <a class="btn btn-success" href="/expenseTrackers/new">新增支出</a>
</div>